{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE HTML>
<html>

<head>
  <title>Contact us</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href="{% static 'static/css/lily.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="main">
    <section>
      <div id="menubar">
          <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'news' %}">News</a></li>
  {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          <li><a href="{% url 'apply:list' %}">Account</a></li>
  {% else %}
          <li><a href="{% url 'auth_login' %}">Login Now</a></li>
          <li><a href="{% url 'registration_register' %}">SignUp To Apply</a></li>
  {% endif %}
      
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          {% if request.user.is_authenticated and request.user.is_staff %}
                  <li><a href="{% url 'apply:all_list' %}">Applications</a></li>
                  <li><a href="{% url 'serials:list' %}">Serials</a></li>
                  <li><a href="{% url 'deadline:list' %}">Deadlines</a></li>
            {% endif %}
          </ul>
      </div>
  </section>

  <form id="contact" action="" method="post">
    <h3 style="color:black">Talk To US</h3>
    <h4 style ="color: black">The GIS family will love to hear from you.If 
      you have any questions about our website or any suggestions concerning site,kindly 
      fill in your details and you will hear from us within the next 24 hours via email.</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus />
    </fieldset>

    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>

    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
   
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Designed by Accra Technical University College</p>
  </form>
  <div id="footer" style="text-align:center;">
      <p><a href="{% url 'home' %}">Home</a> | <a href="{% url 'news' %}">News</a> | <a href="{% url 'contact' %}">Contact Us</a></p>
      <p>Copyright &copy; 2017 Accra Technical University College </p>
      </div>
</div>

</body>
</html>