{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="">
  <title>Ghana Immigration Service</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href="{% static 'static/css/stylesheet.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

 <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'home' %}">Ghana <span class="logo_colour">Immigration Service</span></a></h1>
          <h2>Frienship With Vigilance</h2>
        </div>
      </div>

      <div id="menubar">
          <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'news' %}">News</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
  {% if request.user.is_authenticated %}
  <li><a href="{% url 'auth_logout' %}">Logout</a></li>
  <li><a href="{% url 'apply:list' %}">Account</a></li>
  {% else %}
          <li><a href="{% url 'auth_login' %}">Login Now</a></li>
          <li><a href="{% url 'registration_register' %}">SignUp To Apply</a></li>
  {% endif %}
  
  {% if request.user.is_authenticated and request.user.is_staff %}
  <li><a href="{% url 'apply:all_list' %}">Applications</a></li>
  <li><a href="{% url 'serials:list' %}">Serials</a></li>
  <li><a href="{% url 'deadline:list' %}">Deadlines</a></li>
{% endif %}
          </ul>
      </div>
    </div>
	<br>
	<br>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>Mahama is Crying</h4>
            <h5>September 1st, 2017</h5>
            <p>Citizens of Ghana are now celebrating the victory in advance.....&nbsp;<a href="news.html">read more</a></p>
          </div>
          
          <div class="sidebar_base"></div>
        </div>
      </div>
	  
      <div id="content">
        <h1>Welcome to the Ghana Immigration Service</h1>
        <p>The Ghana Immigration Service is mandated to regulate and monitor the entry, residence, employment and exit of all foreigners. Movement of Ghanaians into and out of the country is equally monitored.</p>
        
        <p>The Immigration Service is charged with handling all the needs that relate to the country's dealings with non-citizens. The functions of the service are:

to create conducive environments, through the establishment of regulatory frameworks that facilitate the entry, residence and employment of foreigners in Ghana
to promote socio-cultural and economic development, by drawing a tangent between the promotion of tourism, foreign direct investments, international business and technological transfer without compromising on national security.</p>
        
        <h2>Getting a Passport</h2>
        <p>The issuance of a Ghanaian passport is done by the ministry of Foreign Affairs and Regional Integration and not by the Ghana Immigration Service. The Ghana Immigration Service only plays a role in the passport application process.

Acquiring a Ghanaian passport is a six-step process:

<p> 1.Purchase a passport application form from an approved point of sale (some local banks)<br>
 2.Complete the form correctly and submit it together with relevant documents to a Passport Application Center [PAC]<br>
 3.Take digital photographs and biometric data-finger-prints<br>
 4.Receive a submission receipt, with passport collection date<br>
5.When the passport is issued, it is sent to PAC where applicants can collect their passports by presenting their submission receipt and undergoing a final biometric check.<br></P>
<p>This comes at a fee of GH¢100.00 (US$70.00) for the express service or GH¢50.00 (US$35.00) for regular service. However, it is difficult to acquire a passport in the period assigned to the application form due to reasons such as shortage of passport booklets and break-down of passport printers. Shortage of passport application forms is also a hindrance to easy acquisition of the Ghanaian passport.</p>
       
      </div>
    </div>
  
    <div id="footer">
      <p><a href="{% url 'home' %}">Home</a> | <a href="{% url 'news' %}">News</a> | <a href="{% url 'contact' %}">Contact Us</a></p>
      <p>Copyright &copy; 2017 Accra Technical University College </p>
      </div>
</body>
</html>
