   {% load static %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">GIS</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'registration_register' %}">Register</a></li>
                  {% endif %}
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>