{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p class='lead'>{% trans "Your account is now activated." %} <br/>
    Click to <a href="{% url 'auth_login' %}">Login</a></p>
{% endblock %}
