.contact-info {
    background-color: #0099ff;
}

#item-card {
  box-shadow: None;
  border-radius: 5px;
  transition: box-shadow 0.4s;
}

#item-card:hover {
  box-shadow: 5px 5px 5px grey;
}

#src_banner {
width: 100%;
height: 100vh;
background-size: cover;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


color: whitesmoke;
}

#src_head_text {
bottom: 100px;
}
