/*============================================================================
			RESPONSIVE CSS WITH MEDIA 
=============================================================================*/

/*=============  MEDIA 1400px   =============*/
@media(min-width:1200px) and (max-width:1400px) {
.port-box .item .item-info p {
	margin: 0px;
}
.port-box .item .item-info h6 {
	line-height: 17px;
}
.port-box .items a {
	margin-top: 15%;
}
#home .home-text {
	top: 25%;
}
}

/*=============  MEDIA 1200px   =============*/
@media(max-width:1200px) {
#box {
	width: 100%;
}
}

/*=============  MEDIA 1024px   =============*/
@media(max-width:1024px) {
}

/*=============  MEDIA 992px - 1199px   =============*/
@media(min-width:992px) and (max-width:1199px) {
#multiple .lay-opt .icon {
	border: none;
}
header nav li a {
	padding: 10px;
}
header .jetmenu {
	width: 100%;
}
}

/*=============  MEDIA 768px - 991px   =============*/
@media(min-width:768px) and (max-width:991px) {
header nav li a {
	padding: 20px 8px;
	font-size: 14px;
}
header .logo {
	margin-top: 10px !important;
	width: 110px;
}
header .logo img {
	width: 100%;
}
.is-sticky .nav > li > a {
	margin-top: 0px;
}
.services h4 {
	font-size: 15px;
}
#home .home-text h1, #home .home-text h1 span {
	font-size: 45px;
}
#home .home-text span {
	font-size: 20px;
}
#home .home-text h2 {
	font-size: 30px;
}
#home .home-text .btn {
	font-size: 20px;
	line-height: 60px;
}
#team .team .avatar {
	width: 115px;
	height: 115px;
	text-align: center;
}
#team .team .avatar img {
	width: 100%;
}
.slider-text h1 {
	font-size: 100px;
}
.portfolio-filter .item {
	width: 33.333333%;
}
#multiple .lay-opt {
	margin-top: 20px;
}
#pricing .pricing h2 {
	font-size: 20px;
}
#pricing .pricing ul li p {
	font-size: 12px;
}
#pricing .pricing ul li a {
	padding: 0 20px;
}
#blog .blog .b-inner span {
	margin: 0px;
	width: 100%;
	line-height: 30px;
}
#blog .blog .b-inner .com {
	margin: 0px;
}
.pur-btn {
	padding: 0px;
	width: 100%;
}
#about img {
	display: inline-block;
}
.port-box .item .item-info h6 {
	font-size: 15px;
	line-height: 10px;
}
.port-box .item .item-info p {
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 10px;
}
.port-box .items a {
	margin-top: 10%;
}
header nav li a {
	padding: 10px 7px;
	padding-bottom: 20px;
}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown {
	width: 200px;
}
.jetmenu ul.dropdown {
	top: 65px;
}
.is-sticky nav li a {
	padding: 20px 7px !important;
	padding-bottom: 22px !important;
}
.is-sticky .jetmenu ul.dropdown {
	top: 70px;
}
.header-2 header nav li a {
	padding: 22px 5px;
}
.services-3 .icon {
	height: 55px;
	width: 55px;
	line-height: 50px;
	font-size: 20px;
}
.services-3 .icon i {
	line-height: 53px;
	font-size: 20px;
}
#get-it.get-it-2 .btn {
	font-size: 12px;
}
.col-5 li.item {
	width: 50%;
}
}

/*=============  MEDIA 767px   =============*/
@media(max-width:767px) {
#home .home-text h1, #home .home-text h1 span {
	font-size: 45px;
}
#why-chooe .why-chooe .tittle {
	margin-top: 10px;
}
#why-chooe .bg-gray {
	display: none;
}
#why-chooe .why-chooe .btn {
	margin-top: 0px;
}
#home .home-text span {
	font-size: 20px;
}
#home .home-text h2 {
	font-size: 30px;
}
#home .home-text .btn {
	font-size: 20px;
	line-height: 60px;
}
.navbar-toggle {
	color: #cce0ff;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}
header nav li {
	width: 100%;
}
.navbar-nav > li > a {
	padding-bottom: 20px;
}
header nav a:hover:after {
	left: 70px;
	right: 70px;
}
header nav a:after {
	display: none;
}
.navbar-nav {
	background: #cce0ff;
}
header nav li a {
	color: #4f4f4f;
	font-weight: normal;
}
.navbar-nav {
	margin: 0px;
	width: 100%;
	position: relative;
}
header .logo {
}
.navbar {
	min-height: 0px;
}
#team .team {
	margin-bottom: 50px;
}
#counters ul li {
	border-bottom: 1px solid #f4f4f4;
}
#counters ul li h3 {
	margin-bottom: 40px;
}
#counters ul li i {
	margin-top: 40px;
}
#counters ul li span {
	line-height: 50px;
}
.slider-text h1 {
	font-size: 60px;
}
.slider-text h2 {
	font-size: 20px;
}
.slider-text .btn {
	font-size: 20px;
	padding: 0 20px;
	line-height: 50px;
}
.header-2 .navbar-toggle {
	color: #ff7200;
	margin-top: 25px;
}
#multiple {
	text-align: center;
}
#multiple img {
	display: inline-block;
}
#multiple .lay-opt .icon {
	float: none;
	display: inline-block;
}
#multiple .lay-opt {
	margin-top: 20px;
}
.portfolio-filter .item {
	width: 50%;
}
.filter li a {
	margin-right: 10px;
}
.col-3 li.item {
	width: 50%;
}
.services-3 li {
	text-align: center;
	margin-bottom: 0px;
}
.services-3 li .icon {
	float: none;
	margin: 0px;
	margin-top: 20px;
}
.about-2 .tittle-1 {
	text-align: center;
}
.about-2 .tittle-1 hr {
	margin-left: auto;
	margin-right: auto;
}
.about-2 .tittle-1 hr:before {
	margin-left: auto;
}
.header-2 .is-sticky .navbar-toggle {
	margin-top: 10px;
}
header nav {
	margin-top: 98px;
}
.jetmenu .indicator {
	display: block;
}
.is-sticky nav li a {
	padding: 15px 25px !important;
	text-align: left;
}
.header-2 header nav li a {
	padding: 10px 15px;
}
.header-2 .logo {
	margin-top: 10px;
}
.header-2 .jetmenu > li.showhide {
	margin-top: -67px;
}
.port-box .filter a {
	font-size: 15px;
}
.is-sticky {
	position: absolute !important;
}
header nav {
	margin-top: 80px;
}
.jetmenu > li.showhide i{
	background: #ff7200;
	color: #fff;
	padding: 20px;
}
.header-1 .is-sticky header a{
	color:#333;
}
.header-2 header{
	height:80px;
}
.header-2 .jetmenu > li.showhide i {
	background: #ff7200;
	color: #fff;
	padding: 20px;
	margin-top: 0px;
}
.header-2 header nav {
	margin-top: 83px;
}
#pricing .pricing ul{
	margin-bottom:50px;
}
#blog .blog img{
	margin-top:30px;
}
.pur-btn{
	font-size:13px;
	padding:0px;
}
#stunning .numbr .icon{
	display: inline-block;
}
.rights ul{
	margin-top:30px;
}
.rights .pull-right{
	float:none !important;
}
.content{
	text-align: center;
}
.content .img-responsive{
	display: inline-block;
}
#team .team .col-xs-8{
	width: 100%;
}
#team .team .col-xs-4{
	width: 100%;
}
.tittle-1{
	text-align: center;
}
#team .tittle-1 hr{
	margin: 30px auto;
}
.tittle-1 hr:before{
	margin: 0 auto;
	margin-top: -3px;
}

.services .icon{
	float: none;
}
.services h4{
	width: 100%;
}
.services li{
	text-align: center;
}
footer{
	text-align: left;
}
#top-bar{
	display:none;
}
.featu-produ .product{
	margin-bottom:30px;
}
.product-item .nav-tabs > li a{
	padding:5px 10px;
}
.header-1 .jetmenu li > a{
	color:#000;
}
.header-1 .jetmenu li.active > a{
	color:#000;
}
.header-1 .jetmenu ul.dropdown li a{
	color:#707070 !important;
}
.header-1 .jetmenu ul.dropdown li:hover > a{
	background:#CCC;
}
.jetmenu > li > .megamenu li{
	background:#fff;
}

.header-1 .jetmenu .megamenu li a{
	color:#707070 !important;
}
.header-1 .jetmenu .megamenu li:hover > a{
	background:#CCC;
}
.jetmenu > li > .megamenu li{
	background:#fff;
}

.header-1 .jetmenu > li > .megamenu a{
	color:#707070 !important;
}
.header-1 .is-sticky header a:hover{
	color:#000;
}
}

/*=============  MEDIA 600px   =============*/
@media (max-width:600px) {
#top-bar li {
	width: 50%;
}
.product-item .nav-tabs{
	width:100%;
	float:none;
	margin-top:30px;
	text-align:center;
	display:inline-block;
}
.product-item .nav-tabs > li{
	float:none;
	display:inline-block;
	margin-bottom:10px;
}
.product-item .nav-tabs > li a{
	margin:0px;
	float:none;
	font-weight:normal;
	font-size:15px;
}
#top-bar li{
	margin:0px;
	width:100%;
}
#top-bar ul.pull-right{
	float:none !important;
}
#top-bar ul.pull-right{
	float:none !important;
}
#team .team{
}
.featu-produ .product img{
	width:100%;
}
}

/*=============  MEDIA 540px   =============*/
@media(max-width:540px) {
.col-3 li.item {
	width: 100%;
}
#home .home-text h1, #home .home-text h1 span {
	font-size: 30px;
}
#team .team .col-xs-4 {
	width: 100% !important;
	text-align: center;
}
.home-text h1 span {
	font-size: 30px;
	width: 100%;
	display: inline-block;
}
.jetmenu > li.showhide {
	margin-bottom: 15px;
}
#home .home-text {
	top: 20%;
}

}

/*=============  MEDIA 400px   =============*/
@media(max-width:400px) {
}

/*=============  MEDIA 320px   =============*/
@media(max-width:320px) {
}
