{% load static %}
{% load crispy_forms_tags %}
<!doctype>
<html>
    <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="">

<title>{{page_title}}</title>
         <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <img src="{% static "my_app/myexample.jpg" %}" alt="My image"/> -->
    <!-- Custom styles for this template -->
    <!-- <link href="navbar-static-top.css" rel="stylesheet"> -->
    <link href="{% static 'static/css/navbar-static-top.css' %}" rel="stylesheet">
     <link href="{% static 'static/css/custom.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
           <!-- Static navbar -->

    <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">GIS</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'news' %}">News</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'apply:list' %}"><i class="glyphicon glyphicon-user"></i> {{request.user}}</a></li>
                  <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                  {% endif %}

                  {% if request.user.is_authenticated and request.user.is_staff %}
                  <li><a href="{% url 'apply:all_list' %}">Applications</a></li>
                  <li><a href="{% url 'serials:list' %}">Serials</a></li>
                  <li><a href="{% url 'deadline:list' %}">Deadlines</a></li>
            {% endif %}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>

<section>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
       <h1>Are You Sure You Want to Delete {{object}}?</h1>
       <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" value="Yes Delete" class="btn btn-danger">
            <a class="btn btn-primary" href="{% url 'deadline:list' %}">View Deadline</a>
       </form>
</div>
</div>
</section>

    </body>
</html>