{% load staticfiles %}
{% load crispy_forms_tags %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    
    <title>{{page_title}}</title>
             <!-- Bootstrap core CSS -->
        <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- <img src="{% static "my_app/myexample.jpg" %}" alt="My image"/> -->
        <!-- Custom styles for this template -->
        <!-- <link href="navbar-static-top.css" rel="stylesheet"> -->
        <link href="{% static 'static/css/navbar-static-top.css' %}" rel="stylesheet">
         <link href="{% static 'static/css/custom.css' %}" rel="stylesheet">
    
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
        -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        </head>
    <body>
           <!-- Static navbar -->

    <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">GIS</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'apply:all_list' %}">ALL Applicants</a></li>
                  <li><a href="{% url 'apply:cert_list' %}">SSCE/WASSCE</a></li>
                  <li><a href="{% url 'apply:diploma_list' %}">DIPLOMA</a></li>
                  <li><a href="{% url 'apply:hnd_list' %}">HND</a></li>
                  <li><a href="{% url 'apply:degree_list' %}">DEGREE</a></li>
                  <li><a href="{% url 'apply:masters_list' %}">MASTERS</a></li>
                  <li><a href="{% url 'apply:others_list' %}">OTHERS</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'apply:list' %}"><i class="glyphicon glyphicon-user"></i> {{request.user}}</a></li>
                  <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                  {% endif %}

                  {% if request.user.is_authenticated and request.user.is_staff %}
                  <li><a href="{% url 'apply:all_list' %}">Applications</a></li>
                  <li><a href="{% url 'serials:list' %}">Serials</a></li>
                  <li><a href="{% url 'deadline:list' %}">Deadlines</a></li>
            {% endif %}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>

<section>
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center text-info">{{body_title|safe}}</h3> <hr>
          <table class="table table-responsive table-hover">
              <thead>
              <tr class="text-info">
                  <th>Full Name</th> <th>Qualification</th> <th>Date of Birth</th> <th>Gender</th> <th>Nationality</th>
              </tr>
              </thead>

              <tbody>
              {% for instance in object_list %}
              <tr>
                  <th><a href="{{instance.get_absolute_url}}">{{instance.last_name}}, {{instance.first_name}} {{instance.other_names}}</a> </th>
                  <td>{{instance.highest_qualification}}</td> <td>{{instance.date_of_birth}}</td>
                  <td>{{instance.gender}}</td> <td>{{instance.nationality}}</td>
              </tr>
              {% empty %}
              <h3>No Applicants Yet</h3>
              {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
</section>


</body>
</html>